.tab
{
    width: 758px;
    height: 571px;
    background-size: 100%;
    position: absolute;
    top: 1680px;
    left: 1205px;
    background-repeat: no-repeat;
    background-image:url('../../img/tab_2.png')
}
.smertOctet
{
    background-image:url('../../img/СмертельныйОктет.png');
    background-repeat: no-repeat;
    background-size: 81%;
    width: 355px;
    height: 220px;
    position: absolute;
    left: 1135px;
    top: 1640px;
}

