
.CD2
{
    /* background-image:url('../../../img/ЗвеньяСД2_2.png'); */
    background-repeat: no-repeat;
    width: 317px;
    color: #fff;
    height: 220px;
    font-size: 13px;
    left: 2171px;
    font-size: 32px;
    background-size: 100%;
    top: 1684px;
}
.CD2_
{
    background-image:url('../../../img/ЗвеньяСД2_2.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 334px;
    height: 220px;
    left: 2148px;
    background-size: 100%;
    top: 1665px;
}
.background_3_3

{
    width: 1024px;
    height: 768px;
    margin: 0;
    padding: 0;
    background-image: url('../../../img/deepMore.png');
    position: absolute;
    left:2048px;
    top:1536px;
    background-repeat: no-repeat;
    z-index: -100;
}

