.hba1c
{
    background-image:url('../../img/HbA1c.png');
    left: 60%;
    top: 34%;
}
.gipoklemia
{
    background-image:url('../../img/Гипогликемия.png');
    left: 19%;
    top: 51%;
}
.hardCd
{
    background-image:url('../../img/осложненияСД.png');
    left: 37%;
    top: 67%;
}
.CCrisks
{
    background-image:url('../../img/CCrisks.png');
    left: 77%;
    top: 64%;
    background-size: 90px !important;

}
.txt-headline
{
    width: 800px;
    position: absolute;
    left: 6%;
    top: 15%;
    height: 150px;
    background-image:url('../../img/txt_headline.png');
    background-repeat:no-repeat;
    background-size:750px
}
.text-top
{
    width: 180px;
    height: 50px;
    position: absolute;
    background-repeat:no-repeat;
    background-size: 164px;
}
