
.tab_3
{
    background-image:url('../../img/tab_3.png');
    width: 840px;
    height: 768px;
    background-size: 100%;
    position: absolute;
    top: 1704px;
    left: 2144px;
    background-repeat: no-repeat;
}
