.Ice
{
  
    background-repeat: no-repeat;
    position: absolute;
    z-index: -10;
   
}
.right_3_3
{
    background-image:url('../../img/ice_right_3png.png');
    width: 87px;
    height: 138px;
    background-size: 100% !important;
    left: 2985px !important;
    top: 1738px !important;
    
}
.bottom_3_3
{
    background-image:url('../../img/ice_bottom_3.png');
    width: 200px;
    height: 178px;
    background-size: 95%;
    left: 2223px;
    top: 2129px;
    
}
.left_3_3
{
    background-image:url('../../img/ice_left_3.png');
    width: 120px;
    height: 201px;
    background-size: 32%;
    left: 2048px;
    top: 1652px;
    
}